*
{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body
{
    background: rgb(55,3,77);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.interface
{
    max-width: 1480px;
}

section .container
{
    background-color: #646464;
    width: 550px;
    border-radius: 15px;
    box-shadow: 5px 10px 5px rgba(0, 0, 0, 0.318);
}

section h1
{
    padding: 10px 0 0 5px;
    color: #050307;
    text-align: center;
}

section form
{
    padding: 0 30px;
}

section form div
{
    margin-top: 30px;
}

button
{
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  background-color: #2a0a54;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}