.interface
{   
    /* usado para definir um quadrante longe das bordas */
    max-width: 1280px;
    margin: 0 auto;
}

header .interface
{
    display: flex;
    justify-content: center;
    background-color: aqua;
}

.flex
{
    display: flex;
}

.imagem
{
    width: 450px;
    border: 2px solid black;
}

main .flex
{
    justify-content: space-between;
    background-color: brown;
    padding: 20px;
}